<!DOCTYPE html>
<html>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<head>
    <title>Interactive</title>
    <h3>Past minute mean volumes</h3>
    <div id="monitor-chart"></div>

</head>
<body>
    <script type="text/javascript">

        async function fetchMeanVolumes() {
            const response = await fetch('/monitor');
            return response.json();
        }

        async function updateMeanVolumes() {
            const data = await fetchMeanVolumes();
            const x = 5 * Array.from({length: data.length}, (_, i) => i).reverse();
            const y = data.map(value => value);
            console.log(x, y);
            Plotly.newPlot('monitor-chart', [{x, y}]);
        }

        updateMeanVolumes();
        setInterval(updateMeanVolumes, 1000);

    </script>
</body>
</html>